<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/main.css">
    <title>Create Post</title>
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a href="/Profile" class="nav-link px-2 text-white">Profile</a></li>
              <form method="post" action="/signout">
                <li><button type="submit" class="btn btn-dark" value="sign-out" name="submit" style="min-height: 40px;">Sign out</button></li>
              </form>
            </ul>
          </div>
        </div>
      </header>
    <div class="container">
    <form method="POST">
            <div class="filter">
              <input type="checkbox" name="Tags" value="anime">Anime
              <input type="checkbox" name="Tags" value="alem">Alem
              <input type="checkbox" name="Tags" value="golang">Golang
              <input type="checkbox" name="Tags" value="forum">Forum
              <input type="checkbox" name="Tags" value="memes">Memes
              <input type="checkbox" name="Tags" value="community">Community
              <input type="checkbox" name="Tags" value="other">Other
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="title" required>
              <label for="floatingInput">Title</label>
            </div>
            <div class="form-floating">
              <textarea name="postContent" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"  required></textarea>
              <label for="floatingTextarea2">Comments</label>
            </div>
          <input type="submit" value="Create">
            <input type="reset" value="Reset"></p>
            {{ if eq .Check true }}
            {{ .Message }}
            {{ end }}
    </form>
</div>
</body>
</html>